.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
  background-color: white;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 50px 100px; */
  z-index: 1;
}
.nav-title{
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 2%;
}
.black{
  color: rgb(31, 31, 31);
  font-weight: bold;
}
.orange{
  color: rgb(255, 123, 0);
  font-weight: bold;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
}
nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 18px 35px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

.sidebar{
  display: flex;
  background:linear-gradient(to left, #ff8800, #ff00dd);
  width: 100%;
  height: 120px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.logo{
  padding: 20px;
  position: absolute;
  top: 0%;
}
.banner{
  display: flex;
}
.image{
  width: 100px;
  height: 100px;
}
.btn-one{
  background:linear-gradient(to left, #ff8800, #ff00dd);
  border: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.btn-two{
  background:linear-gradient(to left, #ff8800, #ff00dd);
  border: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-one:hover{
  background:linear-gradient(to right, #ff8800, #ff00dd);
  color: black;
}
.btn-two:hover{
  background:linear-gradient(to right, #ff8800, #ff00dd);
  color: black;
}
.banner{
  position: absolute;
  top: 50%;
  left: 10%;
}
.banner-description{
  text-align: justify;
  width: 50%;
}
.circle-one{
  height: 50px;
  width: 50px;
  border-radius: 100px;
}